.email_container {
  text-align: center;
  color: var(--secondary-font-color);
  font-size: 0.9rem;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 2rem;
}

.email_container > p {
  cursor: pointer;
  position: relative;
  text-align: center;
  transition: all var(--transition-duration) ease;
  display: inline;
}

.ctc {
  display: none;
  background-color: var(--secondary-dark);
  height: 40px;
  position: absolute;
  padding: 0 1rem;
  width: fit-content;
  top: -60px;
  border-radius: 30px;
  left: 50%;
  transform: translate(-50%, 10px);
  animation-name: intro;
  animation-duration: var(--transition-duration);
}

@keyframes intro {
  from {
    top: -30px;
    opacity: 0;
  }
  to {
    top: -60px;
    opacity: 1;
  }
}

.ctc > p {
  font-size: 0.8rem;
  margin-top: 0.7rem;
}

.email_container > p:hover {
  color: var(--heading-color);
}

.email_container > p:hover + .ctc {
  display: block;
  color: var(--secondary-font-color);
}

.email_container > a {
  transition: all var(--transition-duration) ease;
}

.email_container > a:hover {
  color: var(--heading-color);
}

@media (min-width: 768px) {
  .email_container {
    letter-spacing: 2px;
  }
}
