.contact_section {
  position: relative;
  padding: var(--phone-section-padding-top);
}
.entry_class {
  animation-name: entry;
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.contact_section > .absolute_div {
  position: absolute;
  top: 65px;
}

.contact_para {
  padding-bottom: 1rem;
}

.contact_para > p {
  color: var(--secondary-font-color);
}

.contact_flex {
  display: flex;
  flex-direction: column;
}

.contact_flex > .form_div {
  flex-basis: 50%;
}

.contact_form input[type="text"],
.contact_form input[type="email"],
.contact_form textarea {
  width: 100%;
  border: 0;
  position: relative;
  background: #2b2b2b;
  height: 50px;
  font-size: 1rem;
  color: var(--secondary-font-color);
  padding: 0 20px;
}

.contact_form input[type="text"]:focus,
.contact_form input[type="email"]:focus,
.contact_form textarea:focus {
  outline: none;
  border: none;
}

.contact_form textarea {
  padding: 20px;
  min-height: 11rem;
}

.contact_form p {
  color: red;
  margin-bottom: -2px;
}

.contact_flex > .map_div {
  padding: 3rem 0;
}

.contact_flex > .map_div > iframe {
  width: 100%;
  border: 0;
}

.contact_section > h2 {
  display: flex;
  white-space: nowrap;
  align-items: center;
  color: var(--heading-color);
  font-family: var(--roboto-font);
  font-size: var(--section-heading-font-size);
}

.contact_section > h2::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: var(--secondary-font-color);
}

.contact_form > .error_signal {
  height: 2px;
  margin-bottom: 0.5rem;
}

.contact_form > .error_signal > div {
  height: 100%;
  transition: all var(--transition-duration) ease-in-out;
}

.form_error {
  width: 100%;
  background-color: red;
}

.form_success {
  width: 0;
}

@media (min-width: 768px) {
  .contact_para {
    width: 50%;
  }

  .contact_section {
    padding: var(--tablet-section-padding-top);
  }

  .contact_flex {
    flex-direction: row;
  }

  .contact_flex > .map_div {
    padding: 0 1rem;
    flex-basis: 50%;
  }
}

@media (min-width: 1080px) {
  .contact_section {
    padding: var(--desktop-section-padding-top);
  }

  .contact_section > h2::after {
    width: 330px;
  }
}

@keyframes entry {
  from {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
