.notify {
  position: fixed;
  display: flex;
  top: 5px;
  left: 3.3rem;
  animation-name: entry;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  z-index: 10;
}

.notify > .svg_container {
  z-index: 25;
}

.error {
  fill: red;
}

.green {
  fill: green;
}

.notify > .notification_container {
  background-color: var(--secondary-dark);
  padding: 0 1rem;
  margin-left: -5px;
  height: 100%;
  opacity: 1;
}

.notify > .notification_container > p {
  color: white;
  font-family: var(--roboto-font);
}

@keyframes entry {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
