.selector_div > .image_text_div {
  display: flex;
}

.selector_div > .image_text_div > div {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 0 1rem 0 0;
  cursor: pointer;
}

.image_text_div > div > svg {
  height: 36px;
  width: 36px;
  transition: fill 0.3s ease;
}

.svg_active {
  fill: var(--heading-color);
}

.selector_div > .image_text_div p {
  display: inline;
  color: var(--secondary-font-color);
  margin-left: 0.8rem;
}

.tab_layout > .selector_div > .slider_div {
  max-width: 223px;
  height: 0.3rem;
}

.selector_div > .slider_div > .slider {
  height: 100%;
  background-color: var(--heading-color);
  border-radius: 10px;
  width: 50%;
  transition: all 0.3s ease;
}

.slider_active {
  transform: translateX(100%);
}

.tab_layout > .skills_content {
  margin-top: 3rem;
  min-height: 350px;
}

.tab_layout > .skills_content > p {
  color: var(--secondary-font-color);
  font-family: var(--roboto-font);
  font-size: var(--para-font-size-mobile);
  line-height: var(--para-line-height);
}

.tab_layout > .skills_content > h3 {
  color: var(--heading-color);
  font-family: var(--roboto-font);
}

@media (min-width: 700px) {
  .tab_layout {
    margin: auto;
    max-width: 80%;
  }
}

@media (min-width: 1000px) {
  .tab_layout {
    max-width: 70%;
  }
}
