.sideNav {
  display: none;
}

@media (min-width: 768px) {
  .sideNav {
    display: block;
    width: 3rem;
    background-color: var(--secondary-dark);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
  }

  .sideNav > div {
    position: absolute;
    top: 30px;
    left: 5px;
  }

  .sideNav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 100%;
    margin: 0 0 0 2px;
  }

  .sideNav li {
    margin-left: 3px;
    padding: 10px 8px;
    color: var(--heading-color);
    transition: all 0.2s ease;
  }

  .sideNav li:hover {
    transform: scale(1.2);
  }
}
