.header {
  width: 100%;
  height: 4rem;
  transition: var(--transition-duration) linear;
  position: fixed;
  top: 0;
  z-index: 15;
  margin-top: -1px;
}

.hide {
  transform: translate(0, -90px);
}

.show {
  transform: translate(0, 0);
}

.change_bg {
  background-color: transparent;
}

.reset_bg {
  background-color: var(--secondary-dark);
}

.header > .header_container {
  padding-left: 30px;
  height: 100%;
  transition: all var(--transition-duration) ease;
}

.header > .header_container > .header_flex_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.padded_logo_container {
  margin-top: 5px;
}

.header_flex_container > .right_container {
  width: 90px;
  height: 80px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header {
    display: none;
  }
}

@media (min-width: 1080px) {
  .main {
    padding: 0 102px 0 150px;
  }
}
