.section {
  position: relative;
  width: 100%;
}

.section > .about {
  position: absolute;
  top: -150px;
}

.entry_class {
  animation-name: entry;
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

.section > .flex_about {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
}

.about_div > h2 {
  display: flex;
  white-space: nowrap;
  align-items: center;
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-size: var(--section-heading-font-size);
  margin-bottom: 2.5rem;
}

.about_div > h2::after {
  content: "";
  display: block;
  position: relative;
  top: 3px;
  width: 175px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--secondary-font-color);
}

.about_div > p {
  word-wrap: break-word;
  color: var(--secondary-font-color);
  line-height: var(--para-line-height);
  font-family: var(--roboto-font);
  font-size: var(--para-font-size-mobile);
  text-align: justify;
}

.section > .flex_about > .about_div {
  flex: 1 1 40%;
  min-width: 25ch;
}

.section > .flex_about > .avatar_div {
  padding: 2.5rem 0;
  flex: 1 1 30%;
  text-align: center;
}

@media (min-width: 480px) {
  .about_div > h2::after {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .about_div > h2::after {
    width: 450px;
  }
}

@media (min-width: 900px) {
  .section > .flex_about {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1080px) {
  .section {
    padding-bottom: 5.5rem;
  }

  .section > .flex_about > .avatar_div {
    text-align: right;
  }
}

@keyframes entry {
  from {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
