.project_text {
  padding: 1rem 1rem 2rem 1rem;
  color: var(--secondary-font-color);
  font-family: var(--roboto-font);
  background-color: #282828;
  margin: 0.5rem;
  cursor: pointer;
}

.project_text p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project_text > a > h4 {
  color: var(--heading-color);
  margin-bottom: 0.5rem;
}

.project_text > a > h2 {
  transition: all var(--transition-duration) ease;
  display: inline-block;
  margin-top: 0;
}

.project_text > a > .project_sources {
  display: flex;
}

.project_text > a > .project_sources > a {
  padding-right: 1.5rem;
}

.project_sources > a > svg {
  transition: fill var(--transition-duration) ease;
  fill: white;
}

.project_sources > a > svg:hover {
  fill: var(--heading-color);
}

@media (min-width: 480px) {
  .project_text {
    transition: all var(--transition-duration) ease;
    flex: 1 0 280px;
  }

  .project_text:hover {
    transform: translateY(-10px);
  }
}
