.project_li {
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  opacity: 0;
}

.entry_class {
  animation-name: entry;
  animation-duration: var(--animation-duration);
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.project_li:last-child {
  margin-bottom: 0;
}

.project_li > .project_image {
  display: none;
}

.project_li:nth-child(1) > .project_text {
  background: url(/assets/mobile/ReactChat.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project_li:nth-child(2) > .project_text {
  background: url(/assets/mobile/Wgp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project_li:nth-child(3) > .project_text {
  background: url(/assets/mobile/Keystroke.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.project_li > .project_text {
  padding: 1rem 1rem 2rem 1rem;
  color: var(--secondary-font-color);
  font-family: var(--roboto-font);
}

.project_li > .project_text p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project_li > .project_text > h4 {
  color: white;
  margin-bottom: 0.5rem;
}

.project_text > .project_title > h2 {
  transition: all var(--transition-duration) ease;
  display: inline-block;
  margin-top: 0;
}

.project_text > .project_title > h2:hover {
  color: var(--heading-color);
}

.project_text > .project_sources {
  display: flex;
}

.project_text > .project_sources > a {
  padding-right: 1.5rem;
}

.project_sources > a > svg {
  transition: fill var(--transition-duration) ease;
  fill: white;
}

.project_sources > a > svg:hover {
  fill: var(--heading-color);
}

@media (min-width: 480px) {
  .project_li > .project_text {
    padding: 1rem 1rem 2rem 2rem;
  }

  .project_li:nth-child(1) > .project_text {
    background: url(/assets/tablet/ReactChat.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project_li:nth-child(2) > .project_text {
    background: url(/assets/tablet/Wgp.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .project_li:nth-child(3) > .project_text {
    background: url(/assets/tablet/Keystroke.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 780px) {
  .project_li {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
    box-shadow: none;
  }

  .project_li > .project_image {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: -1;
  }

  .project_li > .project_image > a > img {
    filter: brightness(0.7);
    transition: all var(--transition-duration) ease;
    border-radius: 5px;
  }

  .project_image > a:hover img {
    filter: brightness(1);
  }

  .project_li > .project_text > h4 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }

  .project_li > .project_text {
    background: none !important;
    padding: 1rem 1rem 2rem 1rem;
    text-align: right;
    margin-left: -10%;
    max-width: 55%;
    min-width: 50%;
    color: var(--secondary-font-color);
  }

  .project_text > .project_desc {
    background-color: var(--secondary-dark);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  /* The following css below is odd even specific */
  .project_li:nth-child(even) > .project_image {
    order: 1;
    padding-right: 1rem;
  }

  .project_li:nth-child(even) > .project_text {
    text-align: left;
    margin-right: -10%;
    margin-left: 0;
    z-index: 3;
    padding: 1rem 0;
  }

  .project_li:nth-child(odd) .project_sources {
    justify-content: flex-end;
  }

  .project_li:nth-child(odd) .project_sources > a {
    margin-left: 1.5rem;
    padding-right: 0;
  }
}

@keyframes entry {
  from {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
