.project_li {
  margin-bottom: 3rem;
}

.project_li > .project_image {
  display: none;
}

.project_li > .project_text {
  background: url(http://drive.google.com/uc?export=view&id=1oLE_ADv8D3qfbslGD7D_Job6KDBxWEpL);
  background-color: #cccccc;
  background-size: cover;
  color: var(--secondary-font-color);
  padding: 1rem 1rem 2rem 1rem;
  background-position: center center;
  font-family: var(--roboto-font);
}

.project_li > .project_text p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.project_li > .project_text > h4 {
  color: var(--heading-color);
}

@media (min-width: 780px) {
  .project_li {
    display: flex;
    flex-direction: row;
    margin-bottom: 6rem;
  }

  .project_li > .project_image {
    display: block;
  }

  .project_li > .project_image > img {
    min-height: 100%;
    min-width: 100%;
    border-radius: 5px;
    /* object-fit: cover; */
  }

  .project_li > .project_text {
    background: none;
    text-align: right;
    margin-left: -10%;
  }

  .project_text > .project_desc {
    background-color: var(--secondary-dark);
    padding: 1rem;
    border-radius: 5px;
  }

  /* The following css below is odd even specific */
  .project_li:nth-child(even) > .project_image {
    order: 1;
  }

  .project_li:nth-child(even) > .project_image > img {
    max-width: 70%;
  }

  .project_li:nth-child(even) > .project_text {
    text-align: left;
    margin-right: -10%;
    margin-left: 0;
    z-index: 3;
    padding: 1rem 0 3rem 0;
  }
}
