.socials_container {
  display: none;
  animation-name: entry;
  animation-duration: var(--animation-duration);
  animation-delay: 2.3s;
  animation-fill-mode: both;
}

@media (min-width: 768px) {
  .socials_container {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0.7rem;
  }

  .socials_ul > li > a > svg {
    fill: white;
  }

  .socials_container > .socials_ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
  }

  .socials_container > .socials_ul > li {
    padding: 0 5px;
    margin: 10px 0;
    transition: all var(--transition-duration) ease;
  }

  .socials_ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: var(--secondary-font-color);
  }

  .socials_container > .socials_ul > li:hover {
    transform: translateY(-5px);
  }
}

@media (min-width: 1080px) {
  .socials_container {
    right: 3rem;
  }
}

@keyframes entry {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
