.button {
  cursor: pointer;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  background-color: var(--primary-dark);
  color: var(--secondary-font-color);
  font-family: var(--roboto-font);
  transition: all 0.3s ease;
  border: 1px solid var(--heading-color);
}

.button:hover {
  background-color: #ff004083;
}

.button:disabled {
  background-color: #ff000083;
  cursor: not-allowed;
}
