.sidedrawer {
  height: 100%;
  background-color: var(--secondary-dark);
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s ease;
  z-index: 10;
}

@media (min-width: 700px) {
  .sidedrawer {
    display: none;
  }
}
