@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=League+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --heading-color: #ff0040;
  --secondary-font-color: #cfc8c8;
  --roboto-font: "Roboto", sans-serif;
  --secondary-dark: #2c2c2c;
  --secondary-pink: #c4133f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1d1d1d;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
